includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Auth\\AuthManager::factory\(\)#'

    excludePaths:
        - bootstrap/*
        - public/*
        - storage/*
        - tests/*
        - vendor/*

    checkMissingIterableValueType: false
